body {
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    color: #333
}

.home__about--sectionHeader,
.home__pamietniczek--sectionHeader {
    color: #1460aa
}

.home_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.header {
    color: yellow
}

.heading {
    columns: #00487c;
}

.link {
    color: #0496ff
}

.home {
    margin: 0px;
}

.home__nav {
    display: flex;
    width: 100%;
    justify-content: center;
    top: 0px;
    z-index: 1;
}

.home__nav--item {
    background: #B7B5B3;
    text-align: center;
    list-style: none;
    padding: 8px;
    border: 2px solid red;
}

.home__nav--description {
    color: #141301;
    padding: 10px;
}

.home__pamietniczek--header {
    color: #0496ff
}

.home__about {
    overflow: hidden;
}

.home_miniNav--button {
    display: none;
}

.home__about--paragraph,
.home__pamiatniczek--paragraph {
    padding-left: 16px;
    text-align: left;
}

main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    margin-top: 62px;
    /* overflow:hidden; jezeli cos wychodzi poza maksymalne ustalone ramy to  utnie to zwidoku badz rozszerzy rodzica */
    /* clear: right | left | tez rozszerzy rodzica*/
    /* overflow:scroll; jezeli cos wychodzi poza maksymalne ustalone ramy to  pokaze scrolla */
    /* vw i vh - jednostka niezlaezna odnosnie do szerokosci ekranu */
    /*marginem mozna fajnie srodkowac  margin: 32px auto
    <div> - uzywamy gdy chcemy cos opakowac kiedy nie ma znacznika semantycznego odpowiedniego np <header>
    
    */
}

.nav__header {
    background-color: #C4AF9A;
    min-height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.home__about--box {
    /* box-sizing  -- border-box  -- od wysokosci i szerokosci ciała odejmowane sa wszystkie rzeczy od bordera włącznie do ciała
                   -- content-box  -- do wysokości szerokości ciała dodawane są paddingi i bordery
        position -- domyślnie jest static wszedzie 
                 -- relative element który ma taka wartosc staje sie mapa dla innych elementow z podrzędnymi wartościami
                 -- absolute  - przyklejony do gornej lewej krawedzi rodzica który ma własność relative (pozwala na sztywno wystylować element)
                 -- fixed -- przyklej element do okna zjada szerokość (robi ilement innline (rownlogle z podrzednym)
                 --sticky -- element przyklei sie dopiero kiedy dojedzie do krawedzi tzn bedzie jak fixed- nie wszedzie jeszcze wspierane
                 -- float nie sluzy do budowania layoutow słuzy do opływania elmentów
        top: 10px - odsuwają od rodzica o zadane parametry
        left: 50% || right || bottom || top- od której strony i kiedy ma zaczynać sie element
        -- wykorzystujemy np do podpisow zdjecia wedle position relative -> absolute

        z-index: number okreslanie warstw ktora mają byc po kolei wyswietlane
        innline: block (domyslna wartosc)
        float: left || right - wszystko ma być po lewej || prawej stronie elmentu uzywamy tylko kiedy elmenty maja sie opływac

    
    */
    width: 100%;
    max-width: 200px;
    height: 200px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    margin-right: 8px;
    box-sizing: border-box;
    float: left;
    position: sticky;
    top: 0px;
}

.box {
    z-index: 2
}

.boxTest {
    top: 30px;
    background: brown;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    .home_grid {
        grid-template-columns: 1fr;
    }
    .home_miniNav--button {
        position: absolute;
        right: 16px;
        top: 16px;
        display: inline;
        background: none;
        border: none;
    }
    .home__nav {
        display: none;
    }
    .home__nav--item {
        margin-left: 48px;
        margin-right: 48px;
    }
    .home__mininav {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        padding-bottom: 16px;
    }
    .home__nav--item {
        margin-top: 4px;
    }
}